.live-chart {
  text-align: center;
  width: 100%;
  padding: 20px;
  position: relative;
  box-sizing: border-box;

  h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
  }

  .chart {
    margin: 20px auto;
    position: relative;
  }

  .chart-bars {
    width: 100%;
    position: relative;
  }

  .bar-wrapper {
    width: 100%;
    padding-left: 200px;
    transition: transform 0.5s linear;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(0);
    box-sizing: border-box;

    label {
      font-size: 16px;
      font-weight: 700;
      text-align: right;
      width: 200px;
      height: 100%;
      padding: 0 10px;
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-sizing: border-box;
      transform: translateY(-50%);
    }

    .value {
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
    }

    .bar {
      width: 0%;
      transition: width 0.5s linear;
    }
  }
}
